# Hypothesis Assignment

In [1]:
import scipy.stats as stats
import statsmodels.api as sm
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from PIL import ImageGrab
import matplotlib.pyplot as plt
import seaborn as sns

# Q1

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [ ]:
cutlets=pd.read_csv("cutlets.csv")
cutlets.head(10)

### We are going to conduct a 2 tailed t-Test on 2 Independent samples with Numerical Data
H0 : There is no significant difference in the diameter of cutlet between two units

H1 : There is a significant differnce in the diameter of cutlet between two units

LOS : 5%

Significance 5%

alpha = 0.05

As it is a two-tailed test

alpha/2 = 0.025

In [ ]:
cutlets.info()

In [ ]:
cutlets.duplicated()

# UNIT A

In [ ]:
unit_A=cutlets["Unit A"]
unit_A.head(10)

In [ ]:
unit_A.describe()

# UNIT B

In [ ]:
unit_B=cutlets["Unit B"]
unit_B.head(10)

In [ ]:
unit_B.describe()

## Observation
As the mean of Unit A and Unit B are equal there is no significant difference between the units P_Value

### Hypothesis using t-statistics
Compare p_value with

 (Significane Level)
 
If p_value is > alpha 
 ' we accept null Hypothesis
 
If p_value is < alpha
 'we reject Null Hypothesis
 
H0 : There is no significant difference in the diameter of cutlet between two units

H1 : There is a significant differnce in the diameter of cutlet between two units

In [ ]:
p_value=stats.ttest_ind(cutlets['Unit A'],cutlets['Unit B'])
p_value

### Inferences:
Hence, We fail to reject Null Hypothesis,
there is no significant difference between the two samples

# Q2
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

H0 : There is no significant difference in average Turn Around Time of different laboratories

H1 : There is a significant differnce in the average Turn Around Time of differnt laboratories

5% significance level

### We are going to conduct a ANOVA Test on 4 Independent samples

In [ ]:
Lab=pd.read_csv("labt")
Lab.head(10)
Lab.describe()

### Observation
From the above analysis we can see that mean values of 4 different laboratories are not same

In [ ]:
Lab.info()

In [ ]:
Lab.duplicated()

### ANOVA Test

In [ ]:
p_value = stats.f_oneway( Lab["Laboratory 1"],Lab["Laboratory 2"],Lab["Laboratory 3"],Lab["Laboratory 4"])
print('p_value =',p_value)

### Inferences:
There is a significant differnce in the average Turn Around Time of 4 laboratories, we reject null hypothesis

# Q3

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

### Hypothesis Testing
H0 : Not all proportions are equal

H1 : All proportions are equal

5% significance level

### We are going to conduct a Test of Independence using Chi-Square Test

In [10]:
from scipy.stats import chi2_contingency
buyers=pd.read_csv("BuyerRatio.csv")
buyers.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [13]:
table = [[50,142,131,70],
        [435,1523,1356,750]]

In [37]:
exp_value=stats.chi2_contingency(table)
exp_value

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [35]:
observed = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected = np.array([42.76531299,  146.81287862,  131.11756787, 72.30424052, 442.23468701, 1518.18712138,
                     1355.88243213, 747.69575948])

In [44]:
statistics, p_value = stats.chisquare(observed, expected,ddof=3)
print(statistics)
print(p_value)

1.5959455390914483
0.8095206646905712

### Inferences: 
we accept null hypothesis, we failed to reject null hypothesis

# Q4

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

H0 : All defective % are equal

H1 : one of them is different

5% significance level

In [4]:
customer=pd.read_csv('orderform')
customer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [5]:
customer.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280


# We are going to conduct a Test of Independence using Chi-Square Test

In [19]:
print(customer['Phillippines'].value_counts(),customer['Indonesia'].value_counts(),customer['Malta'].value_counts(),customer['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [32]:
table2 = [[271,267,269,280],
        [29,33,31,20]]

In [33]:
exp_value=stats.chi2_contingency(table2)
exp_value

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [38]:
observed = np.array([271,267,269,280,29,33,31,20])
expected = np.array([271.75, 271.75, 271.75, 271.75,28.25,28.25,  28.25,  28.25])

In [39]:
statistics, p_value = stats.chisquare(observed, expected,ddof=3)
print(statistics)
print(p_value)

3.858960685820355
0.4254298144535761

# Inferences:
we failed to accept null hypothesis,